#### 1.Data Collection
#### 2.Data Preprocessing
      #####1importing Libraries
      #####2loading the dataset
      #####3handling missing value
      #####4extracting independent and dependent 
      features seperately
      x=independent
      y=dependent
      splitting the data into train and test datasets
      100
      
      Encoding categorical data
      feature scaling
      
      train the model on train dataset -> coefficeints
      
      evaluating the model
      
      model deployement

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
"toy": [np.nan, 'Batmobile', 'Bullwhip'],
"born": [pd.NaT, pd.Timestamp("1940-04-25"),
pd.NaT]})
df
#df.isna()

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

#### Deleting

In [6]:
#df.isna()
df.isnull().count()

NameError: name 'df' is not defined

In [ ]:
df

In [61]:
#For true
df.dropna(axis=0,inplace=True,how='any',subset=['name', 'born'])

In [51]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

#### Replace with Summary (NaN)

In [126]:

from numpy import nan as NA
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan,NA ], [NA, NA, NA], [NA, 6.5, 3.0]],index=['row1','row2','row3','row4'],columns=['col1','col2','col3'])

print(data)

      col1  col2  col3
row1   1.0   6.5   3.0
row2   1.0   NaN   NaN
row3   NaN   NaN   NaN
row4   NaN   6.5   3.0

In [95]:
res = data.apply(lambda x: x.fillna(x.mean()) if x.dtype.kind in 'biufc' else x.fillna('.'))

print(res)

      col1  col2  col3
row1   1.0   6.5   3.0
row2   1.0   6.5   3.0
row3   1.0   6.5   3.0
row4   1.0   6.5   3.0

In [111]:
df1 = pd.DataFrame({'Name':['Jack','Sue',pd.np.nan,'Bob','Alice','John'],
    'A': [1, 2.1, pd.np.nan, 4.7, 5.6, 6.8],
    'B': [.25, pd.np.nan, pd.np.nan, 4, 12.2, 14.4],
    'City':['Seattle','SF','LA','OC',pd.np.nan,pd.np.nan]})
df1

<ipython-input-111-6fe839254fc8>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df1 = pd.DataFrame({'Name':['Jack','Sue',pd.np.nan,'Bob','Alice','John'],
<ipython-input-111-6fe839254fc8>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  'A': [1, 2.1, pd.np.nan, 4.7, 5.6, 6.8],
<ipython-input-111-6fe839254fc8>:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  'B': [.25, pd.np.nan, pd.np.nan, 4, 12.2, 14.4],
<ipython-input-111-6fe839254fc8>:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  'City':['Seattle','SF','LA','OC',pd.np.nan,pd.np.nan]})

    Name    A      B     City
0   Jack  1.0   0.25  Seattle
1    Sue  2.1    NaN       SF
2    NaN  NaN    NaN       LA
3    Bob  4.7   4.00       OC
4  Alice  5.6  12.20      NaN
5   John  6.8  14.40      NaN

In [98]:
res = df1.apply(lambda x: x.fillna(x.mean()) if x.dtype.kind in 'biufc' else x.fillna('.'))

print(res)

    Name     A        B     City
0   Jack  1.00   0.2500  Seattle
1    Sue  2.10   7.7125       SF
2      .  4.04   7.7125       LA
3    Bob  4.70   4.0000       OC
4  Alice  5.60  12.2000        .
5   John  6.80  14.4000        .

In [77]:
#fillna
data.fillna({'col1':0.5,'col2':1})

data.fillna(value=None,
    method=None,
    axis=None,
    inplace=False,
    limit=None,
    downcast=None)

      col1  col2  col3
row1   1.0   6.5   3.0
row2   1.0   1.0   NaN
row3   0.5   1.0   NaN
row4   0.5   6.5   3.0

In [78]:
#forward fill
data.fillna(method='ffill')

      col1  col2  col3
row1   1.0   6.5   3.0
row2   1.0   6.5   3.0
row3   1.0   6.5   3.0
row4   1.0   6.5   3.0

In [79]:
data.fillna(method='bfill')

      col1  col2  col3
row1   1.0   6.5   3.0
row2   1.0   6.5   3.0
row3   NaN   6.5   3.0
row4   NaN   6.5   3.0

In [80]:
data.fillna(method='ffill',limit=1)

      col1  col2  col3
row1   1.0   6.5   3.0
row2   1.0   6.5   3.0
row3   1.0   NaN   NaN
row4   NaN   6.5   3.0

In [83]:
data.fillna(data.mean())

      col1  col2  col3
row1   1.0   6.5   3.0
row2   1.0   6.5   3.0
row3   1.0   6.5   3.0
row4   1.0   6.5   3.0

In [121]:
data1 = pd.DataFrame([[2, 6.5, 'swaha'], [1., np.nan,NA ], [NA, NA, NA], [NA, 6.5, 'swah']],index=['row1','row2','row3','row4'],columns=['col1','col2','col3'])

print(data1)

      col1  col2   col3
row1   2.0   6.5  swaha
row2   1.0   NaN    NaN
row3   NaN   NaN    NaN
row4   NaN   6.5   swah

#### Another way to replace NaN with the help of (scikit) API simple Imputer

In [127]:
df1
data1
data

      col1  col2  col3
row1   1.0   6.5   3.0
row2   1.0   NaN   NaN
row3   NaN   NaN   NaN
row4   NaN   6.5   3.0

In [129]:
data = pd.DataFrame([[2., 6.5, 3.], [2., np.nan,NA], [NA, 6.5, NA], [NA, 6.5, 4]]
,columns=['col1','col2','col3']
,index=['row1','row2','row3','row4'])

data1 = pd.DataFrame([[5., 7.5, 3.], [2., np.nan,NA], [NA, 7.5, NA], [NA, 6.5, 6]]
,columns=['col1','col2','col3']
,index=['row1','row2','row3','row4'])
print(data)

      col1  col2  col3
row1   2.0   6.5   3.0
row2   2.0   NaN   NaN
row3   NaN   6.5   NaN
row4   NaN   6.5   4.0

In [130]:
print(data)
print(data1)

      col1  col2  col3
row1   2.0   6.5   3.0
row2   2.0   NaN   NaN
row3   NaN   6.5   NaN
row4   NaN   6.5   4.0
      col1  col2  col3
row1   5.0   7.5   3.0
row2   2.0   NaN   NaN
row3   NaN   7.5   NaN
row4   NaN   6.5   6.0

In [131]:
from sklearn.impute import SimpleImputer
 # strategy can be either mean,median,most_frequent
imr=SimpleImputer(missing_values=np.nan,strategy='mean')
#fit is to find the cofiecents/weights/parameters
imr1=imr.fit(data1.values)
#transform is used to apply these weights to predict new data
imputed=imr1.transform(data1.values)
print(imputed)

[[5.         7.5        3.        ]
 [2.         7.16666667 4.5       ]
 [3.5        7.5        4.5       ]
 [3.5        6.5        6.        ]]

In [ ]:
#### Replace with random Values

#### Removing Duplicates

In [ ]:
df1=pd.Dataframe

In [ ]:
####E

two ways: 
1st way
lable encoding
onehot enciding
deleting one columns

2nd way:
dummy variable
getdummy()

In [5]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

#### 2.Data Preprocessing/Data wrangling/Feature Engineering
##### Training done only on Independent feature in ML

1. Getting Dataset
2. Importing Libraries
3. Importing dataset and extract Independent and dependent feature
4. Handling Missing data
5. Encoding Categorical Data

#During fit, it is stored internally and even after fit, it won't show anything
#After transforming that internal data getting transformed into new data
fit_transform()
fit(): used to find the prarameter(mean, median mode) values of the training data

In [ ]:
#Encoding Categorical Data
1.oridinal
2.Nominal

In [8]:
import pandas as pd
df=pd.DataFrame(
                [
                  ['green','M',10.1,'class2']  ,
                  ['red','L',13.1,'class1'] ,
                  ['blue','XL',15.3,'class2']
                ]
               )
df.columns=['color','size','price','classlabel']
df

   color size  price classlabel
0  green    M   10.1     class2
1    red    L   13.1     class1
2   blue   XL   15.3     class2

#### Handling original data manually

In [14]:
dict_siz=['M':1,'L':2,'XL':3]

SyntaxError: invalid syntax (<ipython-input-14-d6b1b79990e0>, line 1)

In [ ]:
#One hot encoding
one issue 
multicollineary : two variables is highly correleated
if 10 feature then we have to remove 10-1 = 9
# label encoding + one hot encoding + deletion of 1 feature
# get dummies + deletion of 1 features

In [ ]:
from sklearn.preprocessing import

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [16]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
from sklearn.compose import ColumnTransformer

In [ ]:
le=LabelEncoder()
df['color']

In [23]:
ct=ColumnTransformer(
    [
        ('onehot',OneHotEncoder(),[0]),
        ('nothing','passthrough',[1,2])
    ]
)
X=ct.fit_transform(X)

NameError: name 'X' is not defined